/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom variables */
:root {
    /* App color scheme */
    --background-primary: #2B2D31;
    --border-primary: #4B4D51;
    --text-primary: #E0E0E0;

    /*  */
}